<h1>Global Leaderboard</h1>
<table border="1" cellpadding="10">
  <thead>
    <tr>
      <th>Rank</th>
      <th>Name</th>
      <th>EXP Total</th>
      <th>Quizzes Solved</th>
      <th>Accuracy (%)</th>
    </tr>
  </thead>
  <tbody>
    <% leaderboard.forEach((student, idx) => { %>
      <tr>
        <td><%= idx + 1 %></td>
        <td><%= student.full_name %></td>
        <td><%= student.exp_total %></td>
        <td><%= student.quizzes_solved %></td>
        <td><%= student.accuracy_rate %></td>
      </tr>
    <% }) %>
  </tbody>
</table>
